/*----------------- HEADER ----------------- */



header {
    display: flex;
    justify-content:space-around;
    justify-content:flex-end;

  }

  .header {
    margin: 0;
    padding: .6rem;
    width: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #111111;
    position: fixed;
    width: 100%;
    z-index: 1;
  }



  .buttons {
    color: aliceblue;
    text-decoration: none;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all ease .2s;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .choices {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .logo {
    width: 5rem;
  }

/*----------------- HEADER ANIMATIONS ----------------- */


.buttons:hover {
  font-size: 1.7rem;
  transform: scale(1);
      filter: drop-shadow(0 0 10px #ff706b);
      color: #ff706b;

}