@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-accent-1: #c6a288;
    --color-accent-2: #c99678;
    --color-secondary-1: #4b403e;
    --color-secondary-2: #120d0c;
    --color-primary-1: #f3f3f3;
    --color-primary-2: #d6d6d6;
  
    --header-font: "Poppins", sans-serif;
    --content-font: "Urbanist", sans-serif;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist;
  }


  /*----------------- BODY ----------------- */



.hero{
  margin-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: #ff706b;
    margin-left: 2rem;


  
}

h1{
  font-size: 20rem;
}


body{ 
    background-image: url("../img/steam-background-gif-dump-use-them-for-any-purpose-the-main-v0-4vezv25e8i9b1.gif");
    background-size: cover;
 
}


.services{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    color: white;
    gap:2rem;




}

.firstS {
    text-align: center;
    height: 100%;
    flex-direction: column;
    color: white;
    transition: transform .2s; /* Animation */
    background-color: rgba(0, 0, 0, 0.315);
  

}



.firstS h2{
    margin-bottom: 2rem ;
   
  
}
.secondS{ 
    text-align: center;
    height: 100%;
    flex-direction: column;
    color: white;
    transition: transform .2s; /* Animation */
    background-color: rgba(0, 0, 0, 0.315);
  

}
.secondS h2{
    margin-bottom: 2rem ;
}

.thirdS{ 
    text-align: center;
    height: 100%;
    flex-direction: column;
    color: white;
    transition: transform .2s; /* Animation */
    background-color: rgba(0, 0, 0, 0.315);
  
}

.thirdS h2{
    margin-bottom: 2rem ;
}

.firstP{
  height: fit-content;
  width: 100%;
  border-radius: 12px;
}

.secondP{
  height: fit-content;
  width: 100%;
  border-radius: 12px;
}

.thirdP{
  height: fit-content;
  width: 100%;
  border-radius: 12px;
}

.firstS:hover{  
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ff706b);
      color: #ff706b;
}

 .secondS:hover{  
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ff706b);
      color: #ff706b;
} 
 .thirdS:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ff706b);
      color: #ff706b;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#high{
  color: white;
  margin-left: 1rem;

}