@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-accent-1: #c6a288;
    --color-accent-2: #c99678;
    --color-secondary-1: #4b403e;
    --color-secondary-2: #120d0c;
    --color-primary-1: #f3f3f3;
    --color-primary-2: #d6d6d6;
  
    --header-font: "Poppins", sans-serif;
    --content-font: "Urbanist", sans-serif;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist;
  }



/*----------------- SCROLL BAR -----------------*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #381c1b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #131313;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

  





/*----------------- HEADER ----------------- */



  header {
    display: flex;
    justify-content:flex-end;
  }

  .header {
    margin: 0;
    padding: .6rem;
    width: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #111111;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .buttons {
    color: aliceblue;
    text-decoration: none;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all ease .2s;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .choices {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .logo {
    width: 5rem;
  }








/*----------------- HEADER ANIMATIONS ----------------- */


.buttons:hover {
  font-size: 1.7rem;
  transform: scale(1);
      filter: drop-shadow(0 0 10px #ff706b);
      color: #ff706b;
}







  /*----------------- BODY ----------------- */



  body {
    color: var(--color-primary-1);
    background: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-size: cover;
  }

  .wallpaper {
    position:relative;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 70%;
     right: 0;
     top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    filter: blur(5px);
  }


  .hero {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    filter:saturate(200%);
    text-shadow: 0px 0px 10px white;
  }
  
  
  img.wallpaper {
    filter: brightness(50%);
  }
  
  .span {
    color: #ff706b;
    text-shadow: 0px 0px 5px#ff706b;
  }
  
  .hero-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    position:absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .hero h2 {
    font-size: 1rem;
    margin-bottom: 0px;
    font-weight: 300;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 300;
    font-style: italic;
  }
  
  .btn {
    font-weight: bold;
    border: 2px solid  #ff706b;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s;
    background-color: #ff706b;
    text-decoration: none;
    color: black;
    font-size: 13px;
  }
  
  .btn:hover {
    border: 2px solid  #ff706b;
    background: transparent;
    color: #ff706b;
  }




    /*----------------- SECTION 2 ----------------- */

  .section2 {
    height: 100vh;
    display: flex;
    color: #fff;
    filter:saturate(150%);
    text-shadow: 0px 0px 10px white;
  }

  .section2 h2 {
    font-size: 4rem;
    margin-bottom: 0px;
    font-weight: 1000;
  }
  .section2 p {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: 100;
  }

  .text-content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    padding-left: 55rem;
    padding-right: 10rem;
    padding-top: 20rem;
    position: absolute;
  }

  .AI-wallpaper {
    position:relative;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 80%;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size:cover;
  }




      /*----------------- SECTION 3 ----------------- */


  .section3 {
    height: 100vh;
    display: flex;
    color: #fff;
    filter:saturate(150%);
    text-shadow: 0px 0px 10px white;
    align-items:center;
    justify-content: center;
    }

    .blockchain-wallpaper {
      filter: brightness(80%);
      position:relative;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;
      opacity: 80%;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-size:cover;
      filter: brightness(60%);
    }

    .text-content2 {
      display: flex;
      align-items:center;
      justify-content: center;
      flex-direction: column;
      margin: 0;
      position: absolute;
      text-align: center;
      padding-left: 25rem;
      padding-right: 25rem;
    }

    .text-content2 h2 {
      font-size: 4rem;
      margin-bottom: 0px;
      font-weight: 1000;
    }

    .text-content2 p {
      text-align: left;
      font-size: 1.5rem;
      margin-bottom: 0px;
      font-weight: 100;
      text-align: center;
      text-shadow: 0px 0px 10px white;
    }



    /*----------------- SECTION 4 ----------------- */

    .section4 {
      height: 100vh;
      display: flex;
      color: #fff;
      filter:saturate(150%);
      text-shadow: 0px 0px 10px white;
      align-items:center;
      justify-content: center;
      }

      .Gradient-wallpaper {
        position:relative;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        opacity: 80%;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size:cover;
        filter: brightness(40%);
      }

      .text-content3 {
        display: flex;
        margin: 0;
        position: absolute;
        padding-left: 13rem;
        padding-right: 10rem;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
      }
  
      .text-content3 h2 {
        font-size: 4rem;
        margin-bottom: 0px;
        font-weight: 1000;
        padding-right: 5rem;
      }
  
      .text-content3 p {
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 0px;
        font-weight: 100;
        text-shadow: 0px 0px 10px white;
      }

      .IoT-wallpaper {
        width: 40rem;
      }




      /*----------------- SECTION 5 ----------------- */

      .section5 {
        height: 100vh;
        display: flex;
        color: #fff;
        filter:saturate(150%);
        text-shadow: 0px 0px 10px white;
        align-items: center;
        justify-content:start;
        }

        #myVideo {
          position:relative;
          object-fit: cover;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: -1;
          opacity: 80%;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-size:cover;
          filter: brightness(80%);
        }

        .text-content4 {
          display: flex;
          margin: 0;
          position: absolute;
          padding-left: 5rem;
          padding-right: 0rem;
          align-items: start;
          flex-direction: column;
        }
    
        .text-content4 h2 {
          font-size: 2rem;
          margin-bottom: 0px;
          font-weight: 1000;
          padding-bottom: 0.5rem;
        }

        .btn2 {
          font-weight: bold;
          border: 2px solid  #ff706b;
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 15px;
          transition: all 0.4s;
          background-color: #ff706b;
          text-decoration: none;
          color: black;
          font-size: 13px;
        }
        
        .btn2:hover {
          border: 2px solid  #ff706b;
          background: transparent;
          color: #ff706b;
        }

        .span1 {
          color: #ff706b;
          text-shadow: 0px 0px 2px#ff706b;
        }




    /*----------------- FOOTER ----------------- */

    .footer_color {
      background-color: #1a1919;
    }
    
    .footer_container {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    
    .icons_container {
      padding-top: 3rem;
    }
    
    .icons_resize {
      width: 50px;
      padding-left: 10px;
      padding-right: 10px;
      transition: all ease-in .3s;
    }
    
    .icons_resize:hover {
    padding: .1rem;
    }
    
    .logo_container {
      display: flex;
      justify-content: center;
    }
  
    .logo_resize {
      width: 10%;
    }
    
    
    .copyright {
      font-family: urbanist;
      font-weight: 100;
      font-size: 1.5rem;
      color: aliceblue;
      margin: 0;
      text-align: center;
    }
    
    .copyright2 {
      font-family: urbanist;
      font-weight: 200;
      font-size: .8rem;
      color: aliceblue;
      margin: 5px;
      text-align: center;
    }
